@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;700&display=swap");

body {
  font-family: "Fira Code", monospace;
}

.logo {
  width: 200px;
}

h5 {
  text-align: center;
  font-size: 1rem;
}

.base-text {
  margin: 20px 0;
  font-size: 0.95rem;
}

.meta-text {
  font-size: 0.9rem;
}

.base-title {
  text-transform: capitalize;
}

.unstyled-list {
  list-style: none;
}

.unstyled-list li {
  font-size: 1.15rem;
}

.navbar {
  background-color: #fff !important;
  border-bottom: 1px solid #eee;
}

.borrowed {
  color: red;
}

.mobile {
  display: none;
}
@media (max-width: 640px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
